.c-card{
    width: 80%;
    margin: 10rem 5rem -5rem;

    &__img{
        width: 80%;
        height: 24rem;
    }
}

ngb-rating {
    font-size: 100px;
    color:brown;
    background: rgba(23, 221, 16, 0.815);
  }