<div class="menu-bar">
    <div class="c-menu">
        
            <!-- <a class="u-nav" [routerLink]="[ '/']"><img src="../../../../assets/img/homelogo.png"></a> -->
            <a class="c-menu__link" routerLink="" routerLinkActive="c-menu__link--active" [routerLinkActiveOptions]="{ exact: true }"><span
                class="c-menu__icon fas fa-radiation"></span>Home</a>
        
    
            <!-- <a class="u-nav" [routerLink]="[ '/products']"><img src="../../../../assets/img/prodlogo.png">Prods.</a> -->
            <a [routerLink]="[ '/products']" class="c-menu__link" routerLinkActive="c-menu__link--active">
                <span class="c-menu__icon fas fa-binoculars"></span>Prods.</a>
        
        
            <!-- <a class="u-nav" [routerLink]="[ '/management']"><img src="../../../../assets/img/managementlogo.png">Gestión</a> -->
            <a [routerLink]="[ '/management']" class="c-menu__link" routerLinkActive="c-menu__link--active">
                <span class="c-menu__icon fas fa-dharmachakra"></span>Gestión</a>
        
    </div>
</div>
