.c-footer {
  background-color: var(--color-back-footer);
  height: 35rem;
  width: 100vw;
  text-align: center;
  margin-top: -13rem;
  margin-left: -1rem;
  margin-bottom: -1rem;
 

  &__text {
    color: var(--color-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    padding-top: 8rem;
  }
}
