<form>
    <label for="name">Nombre del producto</label>
    <input type="text" name="name" id="name" placeholder="Por ej: Tiesto para planta">
    <label for="price">Precio</label>
    <input type="text" name="price" id="price" placeholder="Por ej: 9.50">
    <label for="description">Descripción</label>
    <input type="text" name="name" id="name" placeholder="Por ej: Lo más vendido este mes">
    <label for="route">Ruta de la imagen</label>
    <input type="text" name="route" id="route" placeholder="Por ej: http://blabla.com/img.jpg">
    <label for="option">Opiniones</label>
    <input type="text" name="option" id="option" placeholder="Por ej: 4.28">
    <button>Guardar</button>
</form>
<app-card [data]="data" *ngIf="data"></app-card>

<!-- <div class="preview-prod" *ngIf="product">
    <p>Preview del producto:</p>
    <img src="{{product.image}}" alt="{{product.name}}">
    <p>{{product.name}}</p>
    <p>{{product.description}}</p>
    <h4>{{product.price}}€</h4>
    <p>{{product.stars}}</p>
</div> -->
