.f-search{
    margin-top: 2rem;
    margin-left: 14rem;
    margin-bottom: 4rem;

    &__inp{
        width: 91%;
        border: 1px solid #444444;
        box-sizing: border-box;
        border-radius: 4px;
        height: 36px;
    }
}


@import '../../../../../styles/settings/breakpoints';
@import '../../../../../styles/settings/media';