<div class="main-home" *ngIf="router.url==='/'">
  <h5 class="b-tittle b-tittle--italic">Bienvenido a Shopéame</h5>
  <app-content-home></app-content-home>
</div>

<div class="main-products" *ngIf="router.url==='/products' || router.url==='/products/list'">
  <h5 class="b-tittle">Listado de productos({{numProd}})</h5>
  <div class="btn-view">
  <button [routerLink]="[ '/products/']" class="btn-view__link" routerLinkActive="btn-view__link--active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-th-list"></i></button>
  <button [routerLink]="[ '/products/list']" class="btn-view__link" routerLinkActive="btn-view__link--active" ><i class="fas fa-th-large"></i></button>
  </div>
  <app-content-products></app-content-products>
</div>

<div class="main-management" *ngIf="router.url==='/management'">
  <h5 class="b-tittle">Creación/Edición de productos</h5>
  <app-content-management></app-content-management>
</div>
