.mc-home{
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: var(--color-text-home);
    margin: 21rem 4rem; 
    
    &__text{
        font-weight: 500;
    }
}