
<div class="table-responsive">
    <table class="table list-prod ">
        <thead>
          <tr>
            <th scope="col">Imágen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Puntuación</th>
            <th scope="col">Editar/Borrar</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of listProd" class="c-li">
          <tr>
            <th><img src="{{item.image}}" class="list-prod__img"></th>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td><ngb-rating class="stars-rating" [rate]="item.stars" readonly="true" max="5"></ngb-rating></td>
            <td><button class="btn-edit" (click)="sendProduct(item)" *ngIf="router.isActive('/products/list', true)"><i class="fas fa-edit"></i></button>
              <button class="btn-delete" (click)="deleteProduct(item)" *ngIf="router.isActive('/products/list', true)"><i class="far fa-window-close"></i></button></td>
            <td></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>